@import "App.css";

form input{
    text-align: left !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}



form .card {
    color: white;
    background-color: var(--elect-green);
}

form .btn {
    color: var(--right-pink);
}

form .btn:hover {
    color: var(--right-pink);
}

form .card-body .input {
    background-color: rgba(255,255,255,0.2);
    color: white !important;
    border: solid;
}

form .form-control:focus {
    background-color: rgba(255,255,255,0.2);
}

form .border-new{
    border-color: var(--right-pink) !important;
}

form .border-old{
    border-color: white !important;
}

form .file {
    color: white;
    background-color: rgba(255,255,255,0.2);
}

form .highlight-new {
    color: white;
    background-color: green;
}

form .highlight-old {
    color: white;
    background-color: red;
}

form .btn .icon:hover {
    color: var(--elect-green);
}

.btn-check:checked+.btn{
    opacity: 0.5;
}